# Python bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDEs and editors
.idea/
.vscode/
*.iml

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Log and temporary files
*.log
*.bak
*.swp

# Database files
*.db
